/*Changes the dimensions of the website */
html, body {
  height: 100%;
  width: 100%;
}

/*Changes the font*/
 #Upgrade {
  width:150px;
  }
  .test {
    text-decoration: none;
  
  }  
/*Adds a border to the images*/


  img.color_flip {
      filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .5s ease-in-out;
    }

    img.color_flip:hover {
      filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.1);
    }

.button {
  background-color: #000000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#navBar a:hover{
  background: #000000;
  color: #123456;
  font-weight:bold;
}
/* make sidebar nav vertical */ 
.box (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}



.parallax {
  /* The image used */
  background-image: url("https://cdn.wallpapersafari.com/28/3/inoTwm.jpg");

  /* Set a specific height */
  min-height: 98%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
.container {
  text-align: center;
  color: var(--color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://cdn.wallpapersafari.com/28/3/inoTwm.jpg);
  background-size: cover;
  background-position: center;
  
/*  this is where the magic happens:  */
  background-attachment: fixed;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

p {
  font-size:20px;
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
}

.second {
  background-image:url(https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-4.0.3&w=1080&fit=max&q=80&fm=jpg&crop=entropy&cs=tinysrgb);
  background-attachment: fixed;
  height: 1200px;
}

.blank,
.other {
  width: 100%;
  min-height: 13vh;
  background-color: var(--color);
}

h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
}

.card > a {
  margin-bottom: 2em;
}

.item {
  display: flex;
  max-width: 320px;
  background-color: white;;
  flex-direction: column;
  align-items: center;
  border-radius: .5em;
  -webkit-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
  box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
}

.img {
  width: 90%;
  height: 200px;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: .3em;;
}

.img-first {
  background-image: url(https://cdn.britannica.com/55/174255-050-526314B6/brown-Guernsey-cow.jpg);
}

.img-second {
  background-image: url(https://cdn.mos.cms.futurecdn.net/G5zpdLW7hnmNvR4ZFDJE8-650-80.jpg.webp);
}

.img-third {
  background-image: url(https://media.istockphoto.com/id/1354067145/photo/hen-perching-on-wooden-structure.jpg?b=1&s=170667a&w=0&k=20&c=iA6wUeDZ6fQc0ZO-WE2PwsPFl7i2aH6kCR_gdI8fDS8=);
}

.second {
  flex-direction: row;
  gap: 1.6em;
}

.carousel {
  margin-top: 30px;
  margin-left: 100px;
  display: flex;
  gap: .7em;
  padding: 8px; 
}

.carousel--item {
/* carousel item should have min-width declared: */
  min-width: 260px;
/* carousel item should have defined height: */
  height: 460px;
  
  border-radius: .4em;
  background-position: center;
  background-size: cover;
  opacity: 0.85;
  transition: 300ms ease;
}

.carousel--item:hover {
  opacity: 1;
  scale: 1.01;
  transform-origin: bottom;
}

.carousel--item:focus-visible {
  opacity: 1;
  scale: 1.01;
  transform-origin: bottom;
  outline: 2px solid orange;
  outline-offset: 2px;
}

.one {
  background-image: url('https://www.simplyrecipes.com/thmb/dRPDyzl8yHtxuO2rRVvK4c3b74s=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Simply-Recipes-Beef-Wellington-LEAD-09-680526da84824d9fae5b289c13ac0311.jpg');
}

.two {
  background-image: url('https://www.simplyrecipes.com/thmb/kEKe0pN5V9TkHh8VXEu9xempv6Y=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Simply-Recipes-Crockpot-Beef-Stew-LEAD-02-cd46b3ea68224fdc8e7371ee3b3fa43f.jpg');
}

.three {
  background-image: url('https://www.simplyrecipes.com/thmb/oQ-Ok65d9i2Xv8TA48OUpC5XlY0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Simply-Recipes-Birria-LEAD-04-a644b434fda246ce8a937a8dbbf6df9b.jpg');
}

.four {
  background-image: url('https://www.simplyrecipes.com/thmb/47HLrPsmz9ZKkuMk_9EMkp8Ai6s=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2009__11__sloppy-joe-vertical-a-1200-d15de5d58c94404b9a478093e7b892a1.jpg');
}

.five {
  background-image: url('https://www.simplyrecipes.com/thmb/ZM94xchFm2VUrySijc3WlWFu3k0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Simply-Recipes-Piri-Piri-Fried-Chicken-LEAD-03-af9d915b35334a35991f1931d62482e0.jpg');
}

.six {
  background-image: url('https://www.simplyrecipes.com/thmb/Yd0RcUwJJEB0tU75rBw3GsOTMQk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Simply-Recipes-Lemon-Pepper-Chicken-LEAD-2-6b2babc56fc54fff9c5c332622efdef1.jpg');
}

.seven {
  background-image: url('https://www.simplyrecipes.com/thmb/_V7EAF2bdZE5-KB6X7K-Ts8VTW8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Simply-Recipes-Grilled-Gochujang-Chicken-LEAD-12-e8625b7ff3ba4d329aef7994dac3e28f.jpg');
}

.eight {
  background-image: url('https://www.simplyrecipes.com/thmb/AvwfpIEuW5MZl65Pu1dvGr9j_Lc=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2016__04__skillet-chicken-orzo-vertical-a-1600-b0a7cd8f7d684c48af156d0e031e2ae5.jpg');
}

.nine {
  background-image: url('https://www.simplyrecipes.com/thmb/CWadl1BywhbbNi5HrGJuAOkKRsQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2018__08__Sous-Vide-Pork-Belly-Bites-4-73f1639369bf427d936a63a4471c7558.jpg');
}

.ten {
  background-image: url('https://www.simplyrecipes.com/thmb/c3LNymweBovS2SC9IOZJIVHwQG4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2016__11__2016-11-28-StuffedTenderloin-9-2b4af84ed8c54ea29250eaf6f02e2717.jpg');
}

.eleven {
  background-image: url('https://www.simplyrecipes.com/thmb/olesTI6Rxlv83dIzLrcErN1PIVQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2019__12__Skillet_Smothered_Pork_LEAD_2b-8434dd34d76a4c9e88be6658b05ce535.jpg');
}

.twelve {
  background-image: url('https://www.simplyrecipes.com/thmb/tAjUnXec0ZD7zRcAbF5EJuBxaG0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2017__05__2017-06-12-DrPepperPulledPork-10-736ef9d0428448e9b1c26236ca0f52f4.jpg');
}

.thirteen {
  background-image: url('https://www.themediterraneandish.com/wp-content/uploads/2019/04/Pan-Grilled-Cod-Recipe-Gyro-4.jpg');
}

.fourteen {
  background-image: url('https://www.themediterraneandish.com/wp-content/uploads/2020/04/homemade-fish-sticks-recipe-9-1024x1536.jpg');
}

.fifteen {
  background-image: url('https://www.themediterraneandish.com/wp-content/uploads/2021/01/fish-soup-recipe-6-1024x1536.jpg');
}

.sixteen {
  background-image: url('https://www.themediterraneandish.com/wp-content/uploads/2019/07/Mediterranean-Salmon-Kabobs-4.jpg');
}

* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}

body {
  background-color: #E1E7E7;
}

.card-row {
  display: flex;
  justify-content: center;
  align-items: center;  
  min-width: 780px;
  width: 100%;
  height: 500px;
}

.card {
  position: relative;
  background-color: #FFFFFF;
  height: 370px;
  width: 240px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  transition: height 0.3s, box-shadow 0.3s;
}

.card:hover {
  height: 410px;
  box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.5);
}

.card-image {
  /* center horizontally overflown image */
  position: absolute;
  left: -9999px;
  right: -9999px;
  margin: auto;

  height: 220px;
  min-width: 100%;
  transition: height 0.3s, opacity 0.3s;
}
.card-image.selected {
  height: 410px;
  opacity: 0.3;
}
.card-footer {
  position: absolute;
  bottom: 0;
  height: 130px;
  padding: 10px 15px;
  font-family: Helvetica;
}

.card-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}
.card-title {
  font-family: Serif;
}
.card-author {
  font-size: 14px;
  color: #BAB096;
  transition: color 0.3s;
}
.card-author.selected {
  color: #6a6456;
}
